{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <script>
    $(document).ready(function () {
        $(".effect-22").focusout(function () {
           if ($(this).val() !== ""){
               $(this).addClass("has-content");
           } else {
               $(this).removeClass("has-content");
           }
        });
    });
    </script>

    <div class="container py-4 mt-4 w-25" style="background-color: rgba(33,37,41,.5)">

        {% if messages %}
            <div class="form-row m-auto">
                <div class="col">
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <form action="{% url 'change_password' %}" method="POST" class="p-2" >
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user_id }}">

            <div class="form-row mt-4">
                <div class="form-group">
                    <input type="password" name="password1" id="id_password" class="effect-22" size="35" required>
                    <label>Password</label>
                    <span class="focus-bg"></span>
                </div>
            </div>

            <div class="form-row mt-4">
                <div class="form-group">
                    <input type="password" name="password2" id="id_password" class="effect-22" size="35" required>
                    <label>Confirm password</label>
                    <span class="focus-bg"></span>
                </div>
            </div>

            <div class="form-row mt-3 justify-content-center">
                <button type="submit" class="btn btn-primary px-4">Change password</button>
            </div>

        </form>

    </div>
{% endblock %}