{% extends 'base.html'%}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block login_active %}
    <li class="nav-item active">
{% endblock %}

{% block body %}
    <script>
    $(document).ready(function () {
        $(".effect-22").focusout(function () {
           if ($(this).val() !== ""){
               $(this).addClass("has-content");
           } else {
               $(this).removeClass("has-content");
           }
        });
    });
    </script>
    <div class="container">
        <div class="row justify-content-center">
            <form id="login_form" method="post" class="mx-5 my-3 p-5 text-white" style="background-color: rgba(33,37,41,.5);">
                {% csrf_token %}

                {% if messages %}
                    <div class="form-row m-auto">
                        <div class="col">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if form.errors %}
                    <div class="form-row m-auto">
                        <div class="col">
                            <div class="alert alert-danger text-center">
                                Invalid username or password
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="form-row mt-4">
                    <div class="form-group">
                        <input type="text" name="username" id="id_username" class="effect-22" placeholder="" size="35" required>
                        <label>E-mail</label>
                        <span class="focus-bg"></span>
                    </div>

                </div>
                <div class="form-row mt-4">
                    <div class="form-group">
                        <input type="password" name="password" id="id_password" class="effect-22"  placeholder="" size="35" required>
                        <label>Password</label>
                        <span class="focus-bg"></span>
                    </div>
                </div>

                <div class="form-row mt-3 justify-content-center">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                </div>

                <div class="form-row mt-5 justify-content-center ">
                    <a href="{% url 'register' %}" class="text-white">
                        Create your Account
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}