{% extends 'base.html' %}

{% block body %}
    <script>
		$(document).ready(function(){
			$(".fa-star").hover(function(event){
			    let index = Array.prototype.indexOf.call(event.target.parentElement.children, event.target) + 1;
			    for (let i = 0; i < index; i++){
			        event.target.parentElement.children[i].classList.toggle("text-warning");
			    }
			});
		});
		function rateFlight(event, flight_id, rate){
		    $.ajax({
                method: "POST",
                url: "/rate_flight",
                dataType: "json",
                data: {'flight_id': flight_id, 'rate': rate, "csrfmiddlewaretoken": '{{ csrf_token }}' },
                success: function(response){

                    let index = Array.prototype.indexOf.call(event.target.parentElement.children, event.target) + 1;
                    for (let i = 0; i < event.target.parentElement.childElementCount; i++){
                        event.target.parentElement.children[i].classList.remove("text-primary");
                    }
                    for (let i = 0; i < index; i++){
                        event.target.parentElement.children[i].classList.add("text-primary");
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });

		}
		function rateRoom(event, room_id, rate){

		    $.ajax({
                method: "POST",
                url: "/hotels/rate_room",
                dataType: "json",
                data: {'room_id': room_id, 'rate': rate, "csrfmiddlewaretoken": '{{ csrf_token }}' },
                success: function(response){

                    let index = Array.prototype.indexOf.call(event.target.parentElement.children, event.target) + 1;
                    for (let i = 0; i < event.target.parentElement.childElementCount; i++){
                        event.target.parentElement.children[i].classList.remove("text-primary");
                    }
                    for (let i = 0; i < index; i++){
                        event.target.parentElement.children[i].classList.add("text-primary");
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });

		}
		function rateVehicle(event, vehicle_id, rate){

		    $.ajax({
                method: "POST",
                url: "/rentacar/rate_vehicle",
                dataType: "json",
                data: {'vehicle_id': vehicle_id, 'rate': rate, "csrfmiddlewaretoken": '{{ csrf_token }}' },
                success: function(response){

                    let index = Array.prototype.indexOf.call(event.target.parentElement.children, event.target) + 1;
                    for (let i = 0; i < event.target.parentElement.childElementCount; i++){
                        event.target.parentElement.children[i].classList.remove("text-primary");
                    }
                    for (let i = 0; i < index; i++){
                        event.target.parentElement.children[i].classList.add("text-primary");
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });

		}
	</script>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                {% if flight_invites %}
                    <h2 class="h2 text-center">Flight Invites</h2>
                    {% for flight_invite in flight_invites %}
                        <div class="row justify-content-center">
                            <div class="col card my-2" style="max-width: 60rem;background-color: rgba(33,37,41,.5);">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 d-flex align-items-center text-white">
                                            {{ flight_invite.seat.flight.destination_from }} - {{ flight_invite.seat.flight.destination_to }}
                                            <br/>
                                            {{ flight_invite.seat.flight.departure_time }} - {{ flight_invite.seat.flight.arrival_time }}
                                            <br/>
                                            {{ flight_invite.seat }}
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <form class="col-9 " action="{% url 'accept_invite' flight_invite.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <input name="passport" class="form-control" placeholder="Passport number">
                                                        </div>
                                                        <div class="col-3 ">
                                                            <button type="submit" class="btn btn-primary float-right">Accept</button>
                                                        </div>
                                                    </div>
                                                </form>

                                                <form class="col-3" action="{% url 'cancel_invite' flight_invite.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Cancel</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if flight_reservations %}
                    <h2 class="h2 text-center">Flight Reservations</h2>
                    {% for flight_reservation in flight_reservations %}
                        <div class="row justify-content-center">
                            <div class="col card my-2" style="max-width: 40rem;background-color: rgba(33,37,41,.5);">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8 d-flex align-items-center text-white">
                                            {{ flight_reservation.seat.flight.destination_from }} - {{ flight_reservation.seat.flight.destination_to }}
                                            <br/>
                                            {{ flight_reservation.seat.flight.departure_time }} - {{ flight_reservation.seat.flight.arrival_time }}
                                            <br/>
                                            {{ flight_reservation.seat }}
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            {% if flight_reservation.is_past %}
                                                {% csrf_token %}

                                            {% if flight_reservation.get_rate > 0 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 1)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 1)"></i>
                                            {% endif %}

                                            {% if flight_reservation.get_rate > 1 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 2)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 2)"></i>
                                            {% endif %}

                                            {% if flight_reservation.get_rate > 2 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 3)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 3)"></i>
                                            {% endif %}

                                            {% if flight_reservation.get_rate > 3 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 4)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 4)"></i>
                                            {% endif %}

                                            {% if flight_reservation.get_rate > 4 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 5)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateFlight(event, {{ flight_reservation.seat.flight_id }}, 5)"></i>
                                            {% endif %}

                                        {% else %}
                                            <a href="{% url 'cancel_resevation' flight_reservation.pk %}" class="btn btn-danger float-right">Cancel reservation</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if room_reservations %}
                    <h2 class="h2 text-center">Room Reservations</h2>
                    {% for room_reservation in room_reservations %}
                        <div class="row justify-content-center">
                        <div class="col card my-2" style="max-width: 40rem;background-color: rgba(33,37,41,.5);">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8 d-flex align-items-center text-white">
                                        Type: {{ room_reservation.room.type }}
                                        <br/>
                                        Capacity: {{ room_reservation.room.capacity }}
                                        <br/>
                                        Floor: {{ room_reservation.room.floor }}
                                        <br/>
                                        From: {{ room_reservation.reserved_from }}, To: {{ room_reservation.reserved_to }}
                                    </div>
                                    <div class="col-4 d-flex align-items-center">
                                        {% if room_reservation.is_past %}
                                            {% csrf_token %}

                                            {% if room_reservation.get_rate > 0 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 1)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 1)"></i>
                                            {% endif %}

                                            {% if room_reservation.get_rate > 1 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 2)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 2)"></i>
                                            {% endif %}

                                            {% if room_reservation.get_rate > 2 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 3)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 3)"></i>
                                            {% endif %}

                                            {% if room_reservation.get_rate > 3 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 4)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 4)"></i>
                                            {% endif %}

                                            {% if room_reservation.get_rate > 4 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 5)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateRoom(event, {{ room_reservation.room_id }}, 5)"></i>
                                            {% endif %}

                                        {% else %}
                                            <a href="{% url 'cancel_reservation_room' room_reservation.pk %}" class="btn btn-danger float-right">Cancel reservation</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if vehicle_reservations %}
                    <h2 class="h2 text-center">Vehicle Reservations</h2>
                    {% for vehicle_reservation in vehicle_reservations %}
                        <div class="row justify-content-center">
                        <div class="col card my-2" style="max-width: 40rem;background-color: rgba(33,37,41,.5);">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8 d-flex align-items-center text-white">
                                        {{ vehicle_reservation.vehicle.manufacturer }} {{ vehicle_reservation.vehicle.model_name }}
                                        <br/>
                                        {{ vehicle_reservation.reserved_from }} - {{ vehicle_reservation.reserved_to }}
                                    </div>
                                    <div class="col-4 d-flex align-items-center">
                                        {% if vehicle_reservation.is_past %}
                                            {% csrf_token %}

                                            {% if vehicle_reservation.get_rate > 0 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 1)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 1)"></i>
                                            {% endif %}

                                            {% if vehicle_reservation.get_rate > 1 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 2)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 2)"></i>
                                            {% endif %}

                                            {% if vehicle_reservation.get_rate > 2 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 3)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 3)"></i>
                                            {% endif %}

                                            {% if vehicle_reservation.get_rate > 3 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 4)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 4)"></i>
                                            {% endif %}

                                            {% if vehicle_reservation.get_rate > 4 %}
                                                <i class="fa fa-star text-primary" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 5)"></i>
                                            {% else %}
                                                <i class="fa fa-star" aria-hidden="true" onclick="rateVehicle(event, {{ vehicle_reservation.vehicle_id }}, 5)"></i>
                                            {% endif %}

                                        {% else %}
                                            <a href="{% url 'cancel_reservation_vehicle' vehicle_reservation.pk %}" class="btn btn-danger float-right">Cancel reservation</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if not vehicle_reservations and not flight_reservations and not room_reservations %}
                    <h2 class="h2 text-center">No reservations</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}