{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <script>
    $(document).ready(function () {

        $("#id_email").attr("size", "40");
        $("#id_first_name").attr("size", "40");
        $("#id_last_name").attr("size", "40");
        $("#id_phone").attr("size", "40");

        $("#user_image").attr("width", "90%");
        $("#user_image").show();

        $("#profile_section").show();
    });
    </script>
    <div class="container" style="z-index: 0;display: none" id="profile_section">
        <div class="row justify-content-center mt-4" style="background-color: rgba(33,37,41,.5)">
            <div class="col-md-4 d-flex align-items-center">
                <img id="user_image" class="my-5 p-5 mx-auto" src="{% static 'profile_image.png' %}" style="display: none">
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <form  method="post" class="my-5 p-5 mx-auto" style="min-width: 35rem" >
                    {% csrf_token %}

                    {% if messages %}
                        <div class="form-row m-auto">
                            <div class="col">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-row mt-3">
                        <div class="col-3">
                            <label class="text-white">E-mail</label>
                        </div>

                        <div class="col-9">
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-3">
                            <label class="text-white">First name</label>
                        </div>

                        <div class="col-9">
                            {{ form.first_name }}
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-3">
                            <label class="text-white">Last name</label>
                        </div>

                        <div class="col-9">
                            {{ form.last_name }}
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-3">
                            <label class="text-white">Phone</label>
                        </div>
                        <div class="col-9">
                            {{ form.phone }}
                        </div>
                    </div>

                    <div class="row mt-5 justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
