{% extends 'base.html'%}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block register_active%}
    <li class="nav-item active">
{% endblock %}

{% block body %}
    <script>
    $(document).ready(function () {
        $(".effect-22").focusout(function () {
           if ($(this).val() !== ""){
               $(this).addClass("has-content");
           } else {
               $(this).removeClass("has-content");
           }
        });
        $(".effect-22").css("minWidth", "250px")
    });
    </script>
    <div class="container">
        <div class="row justify-content-center">



            <form id="register_form" method="post" action="{% url 'register' %}" class="mx-5 my-3 p-5 text-white" style="background-color: rgba(33,37,41,.5);">
                {% if messages %}
                <div class="form-row m-auto">
                    <div class="col">
                        {% for message in messages %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% csrf_token %}
                <div class="row mt-4">
                    <div class="col">
                        <!-- E-mail -->
                        <div class="form-group">
                            <input type="email" name="email" id="id_email" class="effect-22"  placeholder="" required>
                            <label>E-mail</label>
                            <span class="focus-bg"></span>
                        </div>

                        <!-- Password1 -->
                        <div class="form-group">
                            <input type="password" name="password1" id="id_password1" class="effect-22" placeholder="" size="35" required>
                            <label>Password</label>
                            <span class="focus-bg"></span>
                        </div>
                        <!-- Password2 -->
                        <div class="form-group">
                            <input type="password" name="password2" id="id_password2" class="effect-22"  placeholder="" size="35" required>
                            <label>Confirm password</label>
                            <span class="focus-bg"></span>
                        </div>
                    </div>

                    <div class="col">
                        <!-- First name -->
                        <div class="form-group">
                            <input type="text" name="first_name" id="id_first_name" class="effect-22"  placeholder="" size="35" required>
                            <label>First name</label>
                            <span class="focus-bg"></span>
                        </div>
                        <!-- Last name -->
                        <div class="form-group">
                            <input type="text" name="last_name" id="id_last_name" class="effect-22" placeholder="" size="35" required>
                            <label>Last name</label>
                            <span class="focus-bg"></span>
                        </div>
                        <!-- Phone number -->
                        <div class="form-group">
                            <input type="text" name="phone" id="id_phone" class="effect-22"  placeholder="" size="35" required>
                            <label>Phone number</label>
                            <span class="focus-bg"></span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary px-4">Register</button>
                </div>
                <div class="row justify-content-center mt-5">
                    Already have an account?&nbsp
                    <a href="{% url 'login' %}" class="text-white">Login here</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
