.outer-seat{
    border-radius: 9px;
    border: 3px solid #D8D8D8 ;
	background: white;
    position: relative;
    margin: 4px;
}
.inner-seat{
    border-radius: 4px;
	background: #D8D8D8 ;
    position: absolute;
}
.block-outer-seat{
    border-radius: 9px;
    border: 3px solid #ff0000 ;
	background: white;
    position: relative;
    margin: 4px;
}
.block-inner-seat{
    border-radius: 4px;
	background: #ff0000 ;
    position: absolute;
}
.div-inline{float: left; }

.outer-seat:hover{
   border-color: #3366CC;
}

.div-inline:hover .inner-seat{
   background: #3366CC;
}

.clearBoth { clear:both; }

.selected-innerColor {
  background-color: #3366CC;
}

.selected-outerColor {
  border-color: #3366CC;
}