{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Flight</title>
{% endblock %}

{% block flight_active %}
    <li class="nav-item active">
{% endblock %}

{% block navbar_search %}
    <form action="{% url 'search_airlines' %}" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <div class="form-group">
            <input type="search" name="airline" class="effect-8" placeholder="Search airlines">
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="airline_search_button"><i class="fa fa-search"></i></button>
        </div>
    </form>
{% endblock %}

{% block body %}
    <script>
    
    function exchange_values() {
        let from = $("#destination_from").val();
        let to = $("#destination_to").val();
        $("#destination_from").val(to);
        $("#destination_to").val(from);
    }
    function show_filters() {
        $("#filters").toggle();
    }
    </script>
    <section class="search-sec">
        <div class="container">
            <form action="{% url 'search_flights' %}" novalidate="novalidate">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <input type="search" class="form-control search-slt" placeholder="From" name="destination_from" id="destination_from">
                            </div>

                            <div class="col-lg-1 col-md-1 col-sm-12 p-0 d-flex align-items-center justify-content-center h3 text-white">
                                <i class="fa fa-exchange pt-2 exchange" onclick="exchange_values()" aria-hidden="true"></i>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <input type="search" class="form-control search-slt" placeholder="To" name="destination_to" id="destination_to">
                            </div>

                             <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                 <input type="date" class="form-control search-slt" placeholder="Date1" name="date_depart">
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <input type="date" class="form-control search-slt" placeholder="Date2" name="date_return">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <button type="submit" class="btn btn-primary wrn-btn">Search flights</button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                                <button type="button" class="btn btn-outline-primary wrn-btn text-white" onclick="show_filters()">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                                    Filter
                                </button>
                            </div>

                        </div>

                        <div id="filters" class="row mt-3" style="display: none;">
                            <div class="col-md-2 offset-1 text-white ">
                                <div class="row d-flex align-items-center">
                                    <input type="checkbox" class="form-check-inline" name="multi_city" checked value="2">Multi-city
                                </div>
                            </div>

                            <div class="col-md-2 offset-1 text-white ">
                                <div class="row d-flex align-items-center">
                                    <input type="checkbox" class="form-check-inline" name="economy" value="0">Economy
                                </div>
                                <div class="row d-flex align-items-center">
                                    <input type="checkbox" class="form-check-inline" name="business" value="1">Business
                                </div>
                                <div class="row d-flex align-items-center">
                                    <input type="checkbox" class="form-check-inline" name="first" value="2">First
                                </div>
                            </div>

                            <div class="col-md-2 offset-1 text-white ">
                                <div class="row mb-1 d-flex align-items-center">
                                    <input type="text" name="passengers" placeholder="Number of passengers">
                                </div>
                                <div class="row mt-1 d-flex align-items-center">
                                    <input type="text" name="checked_baggage" placeholder="Checked baggage">
                                </div>
                            </div>
                            <!--
                            <div class="col-md-2 offset-1 text-white ">
                                <div class="row mb-1 d-flex align-items-center">
                                    <select name="order_by">
                                        <option></option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            -->
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block search_result %}
{% endblock %}