{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Flight</title>
{% endblock %}

{% block flight_active %}
    <li class="nav-item active">
{% endblock %}

{% block navbar_search %}
    <form action="{% url 'search_airlines' %}" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <div class="form-group">
            <input type="search" name="airline" class="effect-8" placeholder="Search airlines">
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="airline_search_button"><i class="fa fa-search"></i></button>
        </div>
    </form>
{% endblock %}

{% block body %}
    <script>
    
    function exchange_values() {
        let from = $("#destination_from").val();
        let to = $("#destination_to").val();
        $("#destination_from").val(to);
        $("#destination_to").val(from);
    }
    function show_filters() {
        $("#filters").toggle();
    }
    </script>
    <section class="search-sec">
        <div class="container">
            <form action="{% url 'search_flights' %}" novalidate="novalidate">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <input type="search" class="form-control search-slt" placeholder="From" name="destination_from" id="destination_from">
                            </div>

                            <div class="col-lg-1 col-md-1 col-sm-12 p-0 d-flex align-items-center justify-content-center h3 text-white">
                                <i class="fa fa-exchange pt-2 exchange" onclick="exchange_values()" aria-hidden="true"></i>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <input type="search" class="form-control search-slt" placeholder="To" name="destination_to" id="destination_to">
                            </div>

                             <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                 <input type="date" class="form-control search-slt" placeholder="Date1" name="date_depart">
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <input type="date" class="form-control search-slt" placeholder="Date2" name="date_return">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <button type="submit" class="btn btn-primary wrn-btn">Search flights</button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                                <button type="button" class="btn btn-outline-primary wrn-btn text-white" onclick="show_filters()">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                                    Filter
                                </button>
                            </div>

                        </div>

                        <div id="filters" class="row mt-3" style="display: none;">
                            <div class="col-md-2 offset-1 text-white ">
                                <div class="row d-flex align-items-center">
                                    <input type="checkbox" class="form-check-inline" name="multi_city" checked value="2">Multi-city
                                </div>
                            </div>

                            <div class="col-md-2 offset-1 text-white ">
                                <div class="row d-flex align-items-center">
                                    <input type="checkbox" class="form-check-inline" name="economy" value="0">Economy
                                </div>
                                <div class="row d-flex align-items-center">
                                    <input type="checkbox" class="form-check-inline" name="business" value="1">Business
                                </div>
                                <div class="row d-flex align-items-center">
                                    <input type="checkbox" class="form-check-inline" name="first" value="2">First
                                </div>
                            </div>

                            <div class="col-md-2 offset-1 text-white ">
                                <div class="row mb-1 d-flex align-items-center">
                                    <input type="text" name="passengers" placeholder="Number of passengers">
                                </div>
                                <div class="row mt-1 d-flex align-items-center">
                                    <input type="text" name="checked_baggage" placeholder="Checked baggage">
                                </div>
                            </div>
                            <!--
                            <div class="col-md-2 offset-1 text-white ">
                                <div class="row mb-1 d-flex align-items-center">
                                    <select name="order_by">
                                        <option></option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            -->
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>

    <div class="container mt-5">
        <div class="row justify-content-center">
            {% for airline in airlines %}
                <div class="col-md-3 mx-4 bg-white" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);">
                    <div class="card-content" >
                        <div class="card-img d-flex justify-content-center">
                            {% if airline.image %}
                                <img src="https://placeimg.com/380/230/nature" alt="">
                            {% else %}
                                <img src="{% static 'airline_default.jpg' %}">
                            {% endif %}
                            <span style="position: absolute; left: 10px;top:10px;"><h6>Rating {{ airline.rating }}</h6></span>
                        </div>
                        <div class="card-desc">
                            <h3>
                                <a class="text-dark" href="{% url 'airline_with_id' airline.pk %}">{{ airline.name }}</a>
                            </h3>
                            <p>
                                {{ airline.description }}
                            </p>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block search_result %}
{% endblock %}