{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $(".inner-seat-first").on("click", selectSeat);
            $(".inner-seat-business").on("click", selectSeat);
            $(".inner-seat-economy").on("click", selectSeat);
        });
        selected_seats = [];
        Array.prototype.remove = function() {
            var what, a = arguments, L = a.length, ax;
            while (L && this.length) {
                what = a[--L];
                while ((ax = this.indexOf(what)) !== -1) {
                    this.splice(ax, 1);
                }
            }
            return this;
        };
        function selectSeat(event){
            if(event.target.id === "template-selected-inner") return;
            if(event.target.id === "template-first-inner") return;
            if(event.target.id === "template-business-inner") return;
            if(event.target.id === "template-economy-inner") return;

            event.target.classList.toggle("selected-innerColor");

        }
        function asdf(seat_id, e){
            if (!selected_seats.includes(seat_id)){
                selected_seats.push(seat_id);
            } else {
                selected_seats.remove(seat_id);
            }
            if (selected_seats.length > 1){
                $("#invite_header").html("<h5>Invite friends</h5>");
            } else{
                $("#invite_header").html("");
            }
            $("#test").text(selected_seats);
            inviteFriendInputs();
        }
        function inviteFriendInputs(){
            $("#invite-friends").html("");
            let friends_list = [
                {% for f in friends %}
                    "{{ f }}",
                {% endfor %}
            ];
            console.log(friends_list);
            let invite_friends_html = "";
            for (let i = 1; i < selected_seats.length; i++){
                invite_friends_html += "Friend " + i.toString();
                let input = $("<input type=\"email\" class=\"form-control mt-2 autocomplete\" required=\"required\" placeholder=\"E-mail\">");
                $("#invite-friends").append(input);
            }
            $(".autocomplete").autocomplete({
                source: friends_list
            });

        }
        function finish_reservation(){
            let invited_friends = [];
            let invitedFriendsCount = document.getElementById("invite-friends").children.length;

            for (let i=0; i < invitedFriendsCount; i++){
                let value = document.getElementById("invite-friends").children[i].value;
                if (value === "") {
                    alert("Empty values!");
                    return;
                }
                invited_friends.push(value);
            }

            let passport = document.getElementById("passport_number").value;
            if (passport === ""){
                alert("Passport number empty!");
                return;
            }
            if (selected_seats.length === 0){
                alert("No selected seats!");
                return;
            }
            console.log(invited_friends);
            console.log(selected_seats);
            $.ajax({
                method: "POST",
                url: "/finish_flight_reservation",
                data: {"passport": passport, "seats": selected_seats, "invited_friends": invited_friends, "csrfmiddlewaretoken": '{{ csrf_token }}'},
                success: function(response){
                    let getUrl = window.location;
                    let address = getUrl.protocol + "//" + getUrl.host + "/my_reservations";
                    window.location.replace(address);
                }
            })
        }
        function continue_reservation(){
            let invited_friends = [];
            let invitedFriendsCount = document.getElementById("invite-friends").children.length;

            for (let i=0; i < invitedFriendsCount; i++){
                invited_friends.push(document.getElementById("invite-friends").children[i].value);

            }
            let passport = document.getElementById("passport_number").value;
            if (passport === "" || selected_seats.length === 0){
                return;
            }
            $.ajax({
                method: "POST",
                url: "/finish_flight_reservation",
                data: {"passport": passport, "seats": selected_seats, "invited_friends": invited_friends, "csrfmiddlewaretoken": '{{ csrf_token }}'},
                success: function(response){
                    window.location.replace(`http://127.0.0.1:8000/hotels/find_rooms/${response.flight_reservation_id}/${response.passengers}`);
                }
            })
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="row justify-content-center" >
            <div class="mt-5 mb-4 p-2 text-white text-center h3" style="background-color: rgba(33,37,41,.5);">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                {{ flight.destination_from }} - {{ flight.destination_to }}
                <br/>
                {{ flight.departure_time }}
                <br/>
                {{ flight.airline }}
            </div>
        </div>
        <div id="test" class="row justify-content-center">
            asd
        </div>

        <div class="row">
            <!-- Left -->
            <div class="col-md-3 align-self-center py-3" id="left" style="background-color: rgba(33,37,41,.5);">
                <!-- 1 -->
                <div class="row ">
                    <div class="col">
                        <div class="outer-seat-template" id="template-first-outer">
                            <div class="inner-seat-first" id="template-first-inner">
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center text-white">
                        First
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="outer-seat-template" id="template-business-outer">
                            <div class="inner-seat-business" id="template-business-inner">
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center text-white">
                        Business
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="outer-seat-template" id="template-economy-outer">
                            <div class="inner-seat-economy" id="template-economy-inner">
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center text-white">
                        Economy
                    </div>
                </div>
                <!-- 2 -->
                <div class="row">
                    <div class="col">
                        <div class="block-outer-seat" id="template-block-outer">
                            <div class="block-inner-seat" id="template-block-inner">
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center text-white">
                        Taken
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="outer-seat-economy selected-outerColor" id="template-selected-outer">
                            <div class="inner-seat-economy selected-innerColor" id="template-selected-inner">
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center text-white">
                        Selected
                    </div>
                </div>
            </div>
            <!-- Center -->
            <div class="col-lg-6" id="center" style="background-color: rgba(33,37,41,.5);border-left: 1px solid white; border-right: 1px solid white;">
                <div class="row justify-content-center" >
                    <div id="seats" class="p-3">
                        <script>
                            let seats_first = [
                                {% for seat in flight.seat_set.all %}
                                    {% if seat.type == "First" %}
                                        {"id": {{ seat.id }}, "row": {{seat.row}}, "col": {{seat.col}}, "avl": "{{seat.available}}", "type": "{{seat.type}}"},
                                    {% endif %}
                                {% endfor %}
                            ];
                            let rows_first = {{ flight.rows_first }};
                            let cols_first = {{ flight.cols_first }};

                            for (let i = 1; i <= rows_first; i++){
                                document.write('<div class="row justify-content-center">');
                                for (let j = 1; j <= cols_first; j++){
                                    let ind = 0;
                                    let current_id = 0;
                                    let current_index = 0;
                                    for (let k = 0; k < seats_first.length; k++){
                                        if (seats_first[k].row === i && seats_first[k].col === j){
                                            ind = 1;
                                            current_id = seats_first[k].id;
                                            current_index = k;
                                        }
                                    }
                                    if (ind === 1){
                                        if (seats_first[current_index].avl === "True") {
                                            document.write("<div class=\"outer-seat-first div-inline\" onclick=asdf(" +seats_first[current_index].id + ")><div class=\"inner-seat-first\"></div></div>");
                                        } else {
                                            document.write("<div class=\"block-outer-seat div-inline\"><div class=\"block-inner-seat\"></div></div>");
                                        }

                                    } else {
                                        document.write("<div class=\"block-outer-seat div-inline\" onclick=asdf(" +seats_first[current_index].id + ")><div class=\"block-inner-seat\"></div></div>");
                                    }
                                }
                                document.write("<br class=\"clearBoth\" />");
                                document.write("</div>");
                            }


                            let seats_business = [
                                {% for seat in flight.seat_set.all %}
                                    {% if seat.type == "Business" %}
                                        {"id": {{ seat.id }}, "row": {{seat.row}}, "col": {{seat.col}}, "avl": "{{seat.available}}", "type": "{{seat.type}}"},
                                    {% endif %}
                                {% endfor %}
                            ];
                            let rows_business = {{ flight.rows_business }};
                            let cols_business = {{ flight.cols_business }};

                            for (let i = 1; i <= rows_business; i++){
                                document.write('<div class="row justify-content-center">');
                                for (let j = 1; j <= cols_business; j++){
                                    let ind = 0;
                                    let current_id = 0;
                                    let current_index = 0;
                                    for (let k = 0; k < seats_business.length; k++){
                                        if (seats_business[k].row === i && seats_business[k].col === j){
                                            ind = 1;
                                            current_id = seats_business[k].id;
                                            current_index = k;
                                        }
                                    }
                                    if (ind === 1){
                                        if (seats_business[current_index].avl === "True") {
                                            document.write("<div class=\"outer-seat-business div-inline\" onclick=asdf(" +seats_business[current_index].id + ")><div class=\"inner-seat-business\"></div></div>");
                                        } else {
                                            document.write("<div class=\"block-outer-seat div-inline\"><div class=\"block-inner-seat\"></div></div>");
                                        }

                                    } else {
                                        document.write("<div class=\"block-outer-seat div-inline\" onclick=asdf(" +seats_business[current_index].id + ") ><div class=\"block-inner-seat\"></div></div>");
                                    }
                                }
                                document.write("<br class=\"clearBoth\" />");
                                document.write("</div>");
                            }


                            let seats_economy = [
                                {% for seat in flight.seat_set.all %}
                                    {% if seat.type == "Economy" %}
                                        {"id": {{ seat.id }}, "row": {{seat.row}}, "col": {{seat.col}}, "avl": "{{seat.available}}", "type": "{{seat.type}}"},
                                    {% endif %}
                                {% endfor %}
                            ];
                            let rows_economy = {{ flight.rows_economy }};
                            let cols_economy = {{ flight.cols_economy }};

                            for (let i = 1; i <= rows_economy; i++){
                                document.write('<div class="row justify-content-center">');
                                for (let j = 1; j <= cols_economy; j++){
                                    let ind = 0;
                                    let current_id = 0;
                                    let current_index = 0;
                                    for (let k = 0; k < seats_economy.length; k++){
                                        if (seats_economy[k].row === i && seats_economy[k].col === j){
                                            ind = 1;
                                            current_id = seats_economy[k].id;
                                            current_index = k;
                                        }
                                    }
                                    if (ind === 1){
                                        if (seats_economy[current_index].avl === "True") {
                                            document.write("<div class=\"outer-seat-economy div-inline\" onclick=asdf(" + seats_economy[current_index].id + ")><div class=\"inner-seat-economy\"></div></div>");
                                        } else {
                                            document.write("<div class=\"block-outer-seat div-inline\" ><div class=\"block-inner-seat\"></div></div>");
                                        }

                                    } else {
                                        document.write("<div class=\"block-outer-seat div-inline\" onclick=asdf(" +seats_economy[current_index].id + ")><div class=\"block-inner-seat\"></div></div>");
                                    }
                                }
                                document.write("<br class=\"clearBoth\" />");
                                document.write("</div>");
                            }
                        </script>
                    </div>
                </div>
            </div>
            <!-- Right -->
            <div class="col-md-3 overflow-auto" id="right" style="background-color: rgba(33,37,41,.5);">
                <div class="row p-3" >
                    <div class="col text-center text-white" >
                        <div class="row justify-content-center">
                            <p>Passport number</p>
                            <input id="passport_number" class="form-control mb-3">
                        </div>
                        <div id="invite_header" class="row justify-content-center">

                        </div>
                        <div id="invite-friends" class="row justify-content-center mt-3">

                        </div>
                        <div class="row justify-content-center mt-3">
                            <button class="btn btn-primary" onclick="finish_reservation()">Finish Reservation</button>
                        </div>
                        <div class="row justify-content-center mt-3">
                            <button class="btn btn-primary" onclick="continue_reservation()">Continue</button>
                        </div>
                    </div>


                </div>
            </div>

            <!-- <br class="clearBoth" /> -->
        </div>
    </div>
    <script>
    draw_seats();
    $(window).resize(draw_seats);
    function draw_seats(){
        let w = $("#center").width();
        let c = Math.max({{ flight.cols_business }}, {{ flight.cols_first }}, {{ flight.cols_economy }});
        let seat_wh = w * 0.65 / c;


        $(".outer-seat-template").width(seat_wh);
        $(".outer-seat-template").height(seat_wh);

        $(".outer-seat-first").width(seat_wh);
        $(".outer-seat-first").height(seat_wh);
        $(".inner-seat-first").width(seat_wh * 0.9);
        $(".inner-seat-first").height(seat_wh * 0.9);
        $(".inner-seat-first").css("top", seat_wh * 0.05);
        $(".inner-seat-first").css("left", seat_wh * 0.05);

        $(".outer-seat-business").width(seat_wh);
        $(".outer-seat-business").height(seat_wh);
        $(".inner-seat-business").width(seat_wh * 0.9);
        $(".inner-seat-business").height(seat_wh * 0.9);
        $(".inner-seat-business").css("top", seat_wh * 0.05);
        $(".inner-seat-business").css("left", seat_wh * 0.05);

        $(".outer-seat-economy").width(seat_wh);
        $(".outer-seat-economy").height(seat_wh);
        $(".inner-seat-economy").width(seat_wh * 0.9);
        $(".inner-seat-economy").height(seat_wh * 0.9);
        $(".inner-seat-economy").css("top", seat_wh * 0.05);
        $(".inner-seat-economy").css("left", seat_wh * 0.05);

        $(".block-outer-seat").width(seat_wh);
        $(".block-outer-seat").height(seat_wh);
        $(".block-inner-seat").width(seat_wh * 0.9);
        $(".block-inner-seat").height(seat_wh * 0.9);
        $(".block-inner-seat").css("top", seat_wh * 0.05);
        $(".block-inner-seat").css("left", seat_wh * 0.05);

        $(".outer-seat-template").css("max-width", "150px");
        $(".outer-seat-template").css("max-height", "150px");

        $("#template-block-outer").css("max-width", "150px");
        $("#template-block-outer").css("max-height", "150px");

        $("#template-selected-outer").css("max-height", "150px");
        $("#template-selected-outer").css("max-width", "150px");

        $("#template-selected-outer > #template-selected-inner").css("width", "90%");
        $("#template-selected-outer > #template-selected-inner").css("height", "90%");
        $("#template-selected-outer > #template-selected-inner").css("top", "5%");
        $("#template-selected-outer > #template-selected-inner  ").css("left", "5%");

        $("#template-block-outer > #template-block-inner").css("width", "90%");
        $("#template-block-outer > #template-block-inner").css("height", "90%");
        $("#template-block-outer > #template-block-inner").css("top", "5%");
        $("#template-block-outer > #template-block-inner").css("left", "5%");

        $(".outer-seat-template > .inner-seat-first").css("width", "90%");
        $(".outer-seat-template > .inner-seat-first").css("height", "90%");
        $(".outer-seat-template > .inner-seat-first").css("top", "5%");
        $(".outer-seat-template > .inner-seat-first").css("left", "5%");

        $(".outer-seat-template > .inner-seat-business").css("width", "90%");
        $(".outer-seat-template > .inner-seat-business").css("height", "90%");
        $(".outer-seat-template > .inner-seat-business").css("top", "5%");
        $(".outer-seat-template > .inner-seat-business").css("left", "5%");

        $(".outer-seat-template > .inner-seat-economy").css("width", "90%");
        $(".outer-seat-template > .inner-seat-economy").css("height", "90%");
        $(".outer-seat-template > .inner-seat-economy").css("top", "5%");
        $(".outer-seat-template > .inner-seat-economy").css("left", "5%");



    }
    </script>
{% endblock %}